{% extends 'admin/base.html.twig' %}
{% block content %}
<div class="container">
    <div class="container">

            <div class="register-top-grid">

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form(form) }}
            </div>

</div>

{% endblock %}
